<a href="https://colab.research.google.com/github/sudhierstar831/jntua-python/blob/master/DAY_10_(31_01_2020).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# LOOPS
-WHILE LOOP

-FOR LOOP

In [44]:
# PRINT NUMBERS FROM 1-N
n=int(input("ENTER A NUMBER: "))
i=1
while i<=n:
  print(i,end=" ")
  i=i+1

ENTER A NUMBER: 10
1 2 3 4 5 6 7 8 9 10

In [45]:
# print sum of even numbers 
n=int(input("ENTER A NUMBER: "))
i,s=0,0
while i<=n:
  if i%2==0:
    s=s+i
    i=i+1
  else:
    s=s
    i=i+1 
print(s)

ENTER A NUMBER: 10
30

In [46]:
# palindrome for three digits
n=int(input("ENTER A NUMBER: "))
x=n%10
y=n//10
z=y%10
a=y//10
print(x,end="")
print(z,end="")
print(a,end="")

ENTER A NUMBER: 123
321

In [47]:
n=int(input("ENTER A NUMBER: "))
r=0
num=0
while n>0:
  r=n%10
  num=num*10+r
  n=n//10
print(num)

ENTER A NUMBER: 123
321

# Functional programming
-simple

-easy to understand 

-better reuseability

-lengthy programs will be divided into subprograms

def nameofthefunction(<parameter>):

  statements

  return

In [63]:
def sumofevendigits(n):
    s = 0
    while n!= 0:
       r = n%10 
       if r%2==0:
         s=s+r
       n=n//10
    return s
sumofevendigits(1234)

6

In [77]:
# LARGEST DIGIT IN A NUMBER.
def largestdigit(n):
    s=0
    while n!=0:
        r=n%10
        if r>s:
           s=r
        n=n//10
    return s
largestdigit(54965)

9

# For loop

##Syntax:

for in range(start,stop,step):

statements

In [81]:
#Using function print the numbers between the limits
def printseries(fn,ln):
    for i in range(fn,ln+1):
       print(i,end=" ")
    return
printseries(11,25)

11 12 13 14 15 16 17 18 19 20 21 22 23 24 25

In [86]:
def printseries(fn,ln):
    for i in range(fn,ln+1,4):
       print(i,end=" ")
    return
printseries(500,520)

500 504 508 512 516 520

# collection types
-list


*  one of the dat structure in python 
*  data structure means to store ,sort and search options
*  its one common data structure in python,the items of list seperated by comma and enclosed by square brackets
*  list was IMMUTABLE(i.e values can change)
*  ex:
*  list1=[1,2,3,4,5]
*  list=["jntua","dsad","asds"]

-tuple

-dictionary

In [92]:
# collection types
l1 =[1,2,3,4,5,6,7,8,9]
print(l1)
print(l1[2])
print(l1[-3])
print(l1[2:])
print(l1[2:4])
print(l1[-3:-1])

[1, 2, 3, 4, 5, 6, 7, 8, 9]
3
7
[3, 4, 5, 6, 7, 8, 9]
[3, 4]
[7, 8]

In [98]:
# update list
li = ["jntua",8,"anantapur",5,4]
print(li)
li[1]="154"
print(li)
#delete the list item
del li[3]
print(li)

['jntua', 8, 'anantapur', 5, 4]
['jntua', '154', 'anantapur', 5, 4]
['jntua', '154', 'anantapur', 4]

In [101]:
# basic list operators 
li=[1,2,3,4,5,6]
print(li*2)
print(4 in li)
print(9 in li)

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]
True
False

# LIST OF FUNCTIONS
 -MAX

 -MIN

 -SUM

 -APPEND

 -INSERT

 -COUNT

 -INDEX

 -SORT

 -POP

In [123]:
li = [1,2,3,67,89,44,65,45,456,78,45]
print(max(li))
print(min(li))
print(sum(li))
print(sum(li)/(len(li)))
li.append(56)
print(li)
li.insert(2,56)
print(li)
li.count(45)
li.index(67)
li.sort()
print(li)
li.pop()
print(li)
li.pop(3)
print(li)

456
1
895
81.36363636363636
[1, 2, 3, 67, 89, 44, 65, 45, 456, 78, 45, 56]
[1, 2, 56, 3, 67, 89, 44, 65, 45, 456, 78, 45, 56]
[1, 2, 3, 44, 45, 45, 56, 56, 65, 67, 78, 89, 456]
[1, 2, 3, 44, 45, 45, 56, 56, 65, 67, 78, 89]
[1, 2, 3, 45, 45, 56, 56, 65, 67, 78, 89]

In [140]:
# return large number from list
def small(li):
   li.sort()  
   return li[0]
def gsmall(li,n):
   li.sort()
   return li[n+1]
li =[56,68,86,5,2,55,6556,52,56,36,98,12]
print(small(li))
print(gsmall(li,4))

2
52