<a href="https://colab.research.google.com/github/sudhierstar831/jntua-python/blob/master/DAY_9(30_01_2020).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Markdown
## Markdown
### Markdown
#### Markdown

**Points**

*Points*

***points***

***Adding links to mark down***

[SITE](https://sites.google.com/s/1oCpNhG1tGlOArpsswcqvhr8yRWIcMXXO/p/15WFvLNT_8CEUnjjSILf-aICRXLmuIaeF/edit)

### INSERTING IMAGE

![TEXT](https://lh3.googleusercontent.com/-mqB1D9M09-9dhIm_96lm82S_sNO7UGBsxLHZzJGKrFJ-tzQmJtHiayLqb733mDOH-Pj58k=w1280)

In [3]:
print("Hello world ! ")
print("Hello , jntua","|||","chemical","|||","cse")

Hello world !
Hello , jntua ||| chemical ||| cse

***ASSIGNMENT***

In [7]:
n1 = 100 # single variable assignment
print(n1)
a = b = c = 10 # multiple variable assignment of same variable
print(a , b ,c)
a1,b1,c1 =100,200,300 #multiple variable assignment with different values
print(a1,b1,c1)

100
10 10 10
100 200 300

# DATA TYPES AND CONVERSIONS
* int
* float
* string

In [8]:
a=100
s1=10.2
s2="python"
print(type(a),type(s1),type(s2))

<class 'int'> <class 'float'> <class 'str'>

In [10]:
i=100
print(type(i))
s1=str(i)
print(type(s1))
f1=float(i)
print(type(f1))

<class 'int'>
<class 'str'>
<class 'float'>

In [15]:
# length
a=123456
print(len(str(a)))

6

# Reading input from user-input function

In [19]:
a=input("Enter your name ")
print(a)
print(type(a))
b=int(input("Enter your age "))
print(b)
print(type(b))

Enter your name sudhier
sudhier
<class 'str'>
Enter your age 19
19
<class 'int'>

# Operators
- operator is a symbol used to perform a specific kind of operations

# Arthematic operator
-addition + 

-substaraction -

-multplication *

-division / 

-modulus %

-float //

-power **

In [20]:
a=1234
print(a+10)
print(a-10)
print(a*10)
print(a/10)
print(a%10)
print(a//10)
print(a**10)

1244
1224
12340
123.4
4
123
8187505353567209228244052427776

# Relational operators
- =

- ==

- !=

- =<

- =>

- .>

- <

In [21]:
x=10
a1 = x>15
print(a1)

False

# Logical opertors
- and
- or
- not

In [29]:
i=100
a1=(i>15) and (i<800)
a2=(i>15) or (i>800)
i = not 10
print(a1)
print(a2)
print(i)

True
True
False

# Control flow statement
-conditional statements

-loop statements

# If else statements
## syntax:
# if boolean_condition:

# statements

# else:
 
# statements

In [33]:
# To check given is even or odd
n=int(input("Enter a number: "))
if n%2 == 0:
  print(n,"is even number")
else:
  print(n,"is odd number")

Enter a number: 31
31 is odd number

In [44]:
# To check given number is perfectly multiples of 3 and 5
n=int(input("Enter a number: "))
if n%3==0 and n%5==0:
  print("perfectly multiple of 3 and 5")
else:
  print("its not")

Enter a number: 45
perfectly multiple of 3 and 5

In [50]:
#given number is positive negative or zero
n=int(input("Enter a number: "))
if n==0:
  print(n,"is zero")  
else:
  if n<0:
    print(n,"is negative number")
  else:
    print(n,"is positive number")

Enter a number: 2
2 is positive number

In [48]:
2
# largest of three numbers
x=int(input("Enter a number: "))
y=int(input("Enter a number: "))
z=int(input("Enter a number: "))
if x>y and x>z:
  print(x, "is latgest")
else:
  if y>z:
    print(y,"is largest")
  else:
    print(z,"is largest")

Enter a number: 2
Enter a number: 3
Enter a number: 6
6 is largest

In [60]:
# find leap year
n=int(input("Enter a number: "))
if n%4!=0:
  print("its not")
else:
  print("its a leap year")

Enter a number: 2021
its not